aws_region: "ap-south-1"
alert_email_address: "your-email@example.com"
local_workstation_cidr: "0.0.0.0/0"
cloudflare_account_id: "your-account-id"
cloudflare_zone_id: "your-zone-id"
domain_name: "your-domain.com"
github_repo_url: "https://github.com/syndrizzle/devops-task-sem6.git"
cloudflare_api_token: "TOKEN"
github_pat: "TOKEN"
